# Ignore node modules
node_modules

# Ignore local builds
public/build/

# Ignore VSCode stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

